.collection-table {
  @include ui-font;
  max-width: 80%;
  .row {
    @include flexbox;
    flex-wrap: wrap;
    padding: 0;
    align-items: center;

    &:hover {
      background-color: $off-white;
    }

  & + .row {
    border-top: 1px solid $dark-blue;
  }
  }

  .cell {
    @include flex(1);
    flex-grow: 1;
    overflow: hidden;
    width: 100%;
    margin: 0.5rem;

    &--right {
      text-align: right;
    }

    &--10 {
      max-width: 10%;
    }
    &--15 {
      max-width: 15%;
    }
    &--30 {
      max-width: 30%;
    }
    &--50 {
      max-width: 50%;
    }
    &--70 {
      max-width: 70%;
    }
  }
}