form.form {
  @include ui-font;

  &.aligned {
    width: 50%;

    input:not([type=checkbox]):not([type=submit]),
    select,
    textarea {
      width: 100%;
    }
  }

  label {
    font-weight: bold;
    display: block;
    margin: 0.25rem 0;
    position: relative;

    &.required {
      &::before {
        content: "*";
        color: $red;
        position: absolute;
        left: -0.5rem;
      }
    }
  }

  input:not([type=checkbox]):not([type=submit]),
  select,
  textarea {
    @include ui-font;
    border: 1px solid $lighter-gray;
    display: block;
    padding: 0.25rem;
    margin-bottom: 0.5rem;
    min-width: 280px;
  }

  input[type=submit] {
    margin-top: 1rem;
    background-color: $medium-orange;
    color: $off-white;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  .checklist {
    display: grid;
    margin-bottom: 1rem;
    grid-template-columns: 1rem max-content 1rem max-content 1rem max-content;

    input[type=checkbox] {
      margin: 2px;
    }

    label {
      font-weight: normal;
      padding: 0 0.5rem 0 0.25rem;
      max-width: 25rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

    }
  }

  .filename-list {
    margin: 1rem auto;

    .file-item {
      background-color: $off-white;
      margin: 0.5rem 0;
      padding: 0.25rem 0.5rem;
      border-radius: 5px;
      width: max-content;
      font-size: small;
    }

    .delete-link svg {
      width: 1rem;
      height: 1rem;
      vertical-align: middle;
      margin-left: 0.5rem;
    }
  }

  .input-group {
    margin: 0.5rem 0;

    input[type=checkbox] + label {
      display: inline-block
    }
  }

  .side-by-side {
    @include flexbox;
    row-gap: 1rem;
    column-gap: 1rem;

    input:not([type=checkbox]):not([type=submit]), select {
      min-width: 100px;
    }

    > * {
      @include flex(1);
      width: calc(50% - 2rem);
      flex-wrap: wrap;

      .input-group {
        width: 160px;
      }
    }
  }

  .hidden {
    display: none;
  }

  .small-labels label {
    font-weight: 500;
  }

}

fieldset {
  border: 1px solid $black;
  padding: 1rem;

  legend {
    padding: 0 0.5rem;
    font-weight: bold;
  }
}