.icon {
  display: inline-block;
  max-width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: $light-gray;
  stroke: $light-gray;
}

.icon-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.audio {
  cursor: pointer;
}

.playing {
  fill: $orange;
  stroke: $orange;
}

.pin {
  display: inline-block;
  padding: 10px 0;
  &::before {
    content: "\1F4CD";
  }
}

.icon-pinned, .icon-not-pinned {
  background-color: inherit;
  border: none;
}

.icon-not-pinned {
  color: gray;
}