/* Layout */

/**
z-indicies:

2: Mapbox Map controls
3: Page Heading
4: Top Search Bar
**/

.content-wrapper {
  @include flexbox();
  display: flex;
}

.content-sidebar {
  @include flex(0);
  @include order(1);

  @include flexbox();
  flex-direction: column;
  justify-content: space-between;

  background-color: $secondary-background;
  border-right: 1px solid $off-white;

  min-width: 250px;

  img {
    max-width: 180px;
    margin-top: 40px;
    margin-bottom: 20px;
    align-self: center;
  }
}

.content-sidebar.hidden {
  display: none;
}

.content-main {
  @include flex(4);
  @include order(2);

  min-width: 600px;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: visible;
}

.top-bar {
  @include flexbox;
  justify-content: space-between;
  align-items: stretch;
  // align-content: stretch;

  height: 45px;

  position: sticky;
  top: 0;
  z-index: 4;

  background-color: $secondary-background;
  border-bottom: 1px solid $off-white;

  .search {
    margin: .5rem 1rem;
    max-width: 50rem;
    width: 20rem;
    display: inline-block;
  }

  .super-bar {
    @include flexbox;
    align-items: center;
    margin-left: 1rem;
  }

  .top-nav {
    @include flexbox;
    align-items: stretch;

    img {
      margin: 0.5rem;
    }

    > * {
      // make all children center in bar
      display: flex;
      align-items: center;
    }

    > a {
      padding: 0.5rem 1rem;
      background-color: $dark-blue;
      color: $off-white;
      text-decoration: none;

      &:hover {
        background-color: $blue;
      }
    }
  }

  input.search__input[type=search] {
    border-radius: 100rem;
    padding: 0.25rem 1.6rem;
    width: 100%;
  }

  .search__eyeglass-icon {
    fill: $light-gray;
    height: 1rem;
    left: 1.5rem;
    position: absolute;
    top: 1.4rem;
    transform: translateY(-50%);
    width: 1rem;
  }
}

.page-heading {
  background-color: $background;
  position: sticky;
  top: 2.5rem;
  padding: 0.25rem 1rem;
  z-index: 3;

  .columns {
    @include flexbox;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }

  h1, h2, h3 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  &.sticky {
    box-shadow: 0 0 1rem $lighter-gray;
  }
}

.page-content {
  padding: 1rem;

  > p {
    margin: 1rem 0;
  }
}

.separated {
  @include ui-font;
  span:nth-child(n+2) {
    &::before {
      content: " | "
    }
  }
}

main {
  padding-bottom: 6rem;
}

svg[hidden] {
  display: none;
  visibility: collapse;
}
svg:not(:root) {
  overflow: hidden;
}
