##################################
# Configure MapLibre [Recommended]
#
# By default, Terrastories is configured to serve maps using
# Maplibre GL JS with Protomap's free API Tileserver.
#
# If you configure Mapbox, the settings in this section are ignored.

# ==> Protomaps Hosted API
#
# Protomaps also maintains a Tiles API - get a free API key.
# It's free for non-commercial use, or commercial use paired with a GitHub sponsorship.
#
# Sign up at https://app.protomaps.com/signup and provide your API key:
# PROTOMAPS_API_KEY=

# ==> Tileserver (hosted or local)
#
# Previously, we provided a hosted Tileserver GL server along side
# Terrastories to serve map tiles in offline mode.
#
# TILESERVER_URL=https://localhost:8080/styles/my-style/style.json

##################
# Configure Mapbox
#
# For backwards compatibility, Terrastories still supports map rendering with
# Mapbox and Mapbox styles when configured.

# Set your Mapbox Access Token (DEFAULT_MAPBOX_TOKEN works, but is deprecated)
# MAPBOX_ACCESS_TOKEN=pk.ey

# Set your Mapbox Style (DEFAULT_MAP_STYLE works, but is deprecated)
# If unset, Terrastories defaults to Mapbox's streets-v11
# MAPBOX_STYLE=mapbox://styles/mapbox/streets-v11

##################
# Configure CORS
#
# CORS (Cross Origin Request Sharing) allows external requests from allowed
# sites to access resources in this application.
#
# Default origins are provide for local development and ngrok.
# Additional origins can be added with comma-separation.
CORS_ORIGINS="localhost:1080,\Ahttps:\/\/[a-z0-9]{4}-[0-9]{2}-[0-9]{3}-[0-9]{3}-[0-9]{3}.ngrok.io\z"
