services:
  db:
    profiles:
      - offline
      - dev
      - test
    image: postgres:11
    restart: unless-stopped
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${DB_USERNAME-postgres}
      - POSTGRES_PASSWORD=${DB_USER_PASSWORD-postgres}
    volumes:
      - ./postgresql/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data

  web:
    image: terrastories/devcore:latest
    env_file:
      - .env
    command: scripts/server
    restart: unless-stopped
    stdin_open: true
    tty: true
    depends_on:
      - db
    ports:
      - 80:3000   # Intended for use with HOST_HOSTNAME set
      - 3000:3000 # Standard Rails development
      - 3035:3035 # For Shakapacker/Webpack development server
    expose:
      - "80"
      - "3000"
      - "3035"
    environment:
      - CHECK_BUNDLER=yes
      - RAILS_ENV=development
    volumes:
      - bundler:/usr/local/bundle
      - ./rails:/api
      - ./data/media:/media
      - ./data/import/media:/api/import/media
      - ./map:/api/public/map:ro

  test:
    profiles: [test]
    image: terrastories/devcore:latest
    entrypoint: ["bundle", "exec", "rspec"]
    restart: no
    stdin_open: true
    tty: true
    depends_on:
      - db
    environment:
      - RAILS_ENV=test
    volumes:
      - bundler:/usr/local/bundle
      - ./rails:/api
      - ./data/media:/media
      - ./data/import/media:/api/import/media
      - ./map:/api/public/map:ro

  nginx-proxy:
    profiles:
      - offline
    image: nginxproxy/nginx-proxy:latest
    restart: unless-stopped
    ports:
      - 80:80
    depends_on:
      - localweb
      - db
    environment:
      - DEFAULT_HOST=terrastories.local
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/error_pages:/usr/share/nginx/html:ro
      - ./nginx/vhost.d:/etc/nginx/vhost.d:ro
      - ./nginx/unrestricted_file_size.conf:/etc/nginx/conf.d/unrestricted_file_size.conf:ro

  localweb:
    profiles:
      - offline
    extends:
      file: common-app.yaml
      service: rails
    depends_on:
      - db
    ports:
      - 3030:3030
    expose:
      - "3030"
    volumes:
      - bundler:/usr/local/bundle
      - ./rails:/api
      - ./data/media:/media
      - ./data/import/media:/api/import/media
    environment:
      - RAILS_ENV=${RAILS_ENV-offline}
      - PORT=3030
      - VIRTUAL_PORT=3030
      - VIRTUAL_HOST=terrastories.local,${HOST_HOSTNAME-terrastories.local}
      - VIRTUAL_PATH=/
      - CHOKIDAR_USEPOLLING=true
      - USE_LOCAL_MAP_SERVER=true
      - OFFLINE_MAP_STYLE=/tileserver/styles/terrastories-map/style.json

  tileserver:
    profiles:
      - offline
    restart: unless-stopped
    image: maptiler/tileserver-gl
    command: "--port 8080 --public_url http://${HOST_HOSTNAME-terrastories.local}/tileserver/"
    ports:
      - 8080:8080
    expose:
      - "8080"
    env_file:
      - .env
    volumes:
      - ./tileserver/data:/data
    environment:
      - VIRTUAL_HOST=terrastories.local,${HOST_HOSTNAME-terrastories.local}
      - VIRTUAL_PATH=/tileserver/
      - VIRTUAL_DEST=/
      - VIRTUAL_PORT=8080

volumes:
  postgres_data:
  bundler:
