services:
  db:
    profiles:
      - offline
      - dev
    image: postgres:11
    restart: always
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${DB_USERNAME-postgres}
      - POSTGRES_PASSWORD=${DB_USER_PASSWORD-postgres}
    volumes:
      - ./postgresql/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data

  web:
    profiles:
      - dev
    extends:
      file: common-app.yaml
      service: rails
    depends_on:
      - db
    ports:
      - 3000:3000
    expose:
      - "3000"
    command: sh -c "bundle exec rake tmp:cache:clear && bundle exec rake assets:precompile && bundle exec rails s -b '0.0.0.0'"
    environment:
      - CHECK_BUNDLER=yes
    volumes:
      - bundler:/usr/local/bundle
      - ./rails:/api
      - ./data/media:/media
      - ./data/import/media:/api/import/media

  nginx-proxy:
    profiles:
      - offline
    image: nginxproxy/nginx-proxy:latest
    restart: always
    ports:
      - 80:80
    depends_on:
      - localweb
      - db
    environment:
      - DEFAULT_HOST=terrastories.local
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx/error_pages:/usr/share/nginx/html:ro
      - ./nginx/vhost.d:/etc/nginx/vhost.d:ro
      - ./nginx/unrestricted_file_size.conf:/etc/nginx/conf.d/unrestricted_file_size.conf:ro

  localweb:
    profiles:
      - offline
    extends:
      file: common-app.yaml
      service: rails
    depends_on:
      - db
    ports:
      - 3030:3030
    expose:
      - "3030"
    command: sh -c "bundle exec rake tmp:cache:clear && bundle exec rake assets:precompile && bundle exec rails s -b '0.0.0.0'"
    volumes:
      - bundler:/usr/local/bundle
      - ./rails:/api
      - ./data/media:/media
      - ./data/import/media:/api/import/media
    environment:
      - RAILS_ENV=${RAILS_ENV-development}
      - PORT=3030
      - VIRTUAL_PORT=3030
      - VIRTUAL_HOST=terrastories.local,${HOST_HOSTNAME-terrastories.local}
      - VIRTUAL_PATH=/
      - CHOKIDAR_USEPOLLING=true
      - USE_LOCAL_MAP_SERVER=true
      - OFFLINE_MAP_STYLE=/tileserver/styles/terrastories-map/style.json

  tileserver:
    profiles:
      - offline
    restart: always
    image: maptiler/tileserver-gl
    command: "--port 8080 --public_url http://${HOST_HOSTNAME-terrastories.local}/tileserver/"
    ports:
      - 8080:8080
    expose:
      - "8080"
    env_file:
      - .env
    volumes:
      - ./tileserver/data:/data
    environment:
      - VIRTUAL_HOST=terrastories.local,${HOST_HOSTNAME-terrastories.local}
      - VIRTUAL_PATH=/tileserver/
      - VIRTUAL_DEST=/
      - VIRTUAL_PORT=8080

volumes:
  postgres_data:
  bundler:
