@mixin for-phone-only {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}

@media screen and (orientation:landscape) 
 {
   html{
    transform: rotate(-90deg);
    width: 100vh;
    height: 100vw;
    transform-origin: left top;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
   }
  }
