@font-face {
  font-family: 'OpenSansCondensed';
  src: url('OpenSansCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'OpenSansCondensed';
  margin: 0;
}
