.search-box {
  display: flex;
}

.search__clear-link {
  right: 6.0rem;
}

.results-count {
  width: max-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: -1.0rem;
  margin-left: 0.3rem;
  text-align: center;
  border-radius: 100rem;
  cursor: pointer;
}
