@import 'story_dashboard';
@import 'core/colors';
@import 'navigation_style';
@import 'main_content_style';

.import-spinner {
  display: none !important;
}

button.btn-import:disabled {
  background-color: $orange !important;

  + .import-spinner {
    display: inline-block !important;
  }
}

.attribute-data--nested-has-many {
  width: 100%;
  padding-right: 5%;
}

.cell-data--text {
  white-space: normal;
}
