.main-content {
  // this resets all of the main content from adminstrate
  background-color: transparent;
  border: none;
  box-shadow: none;

  // this is to match the website
  margin: 2rem auto;
  max-width: $max-width;
}
.main-content__header {
  align-items: end;
}

.main-content__body {
  h2 {
    font-size: 1.4rem;
    border-bottom: 2px solid $orange;
    margin-bottom: 1rem;
    padding-bottom: .2rem;
  }
}

.main-content__body--split {
  display: flex;
  justify-content: space-between;

  .sidebar {
    max-width: calc(#{$max-width} * 0.3);
  }

  dl {
    margin-left: 2rem;
    flex-grow: 1;

    .attribute-label {
      width: calc(25% - 1rem)
    }

    .attribute-data {
      width: calc(75% - 1rem)
    }
  }
}

td img {
  // unsets adminstrate squashing images to fit fixed row size
  max-height: unset;
}

section {
  img {
    max-width: 250px;
  }
}

.header--logo {
  height: 35px;
  vertical-align: middle;
}
