.navigation {
  flex: 0 1 auto;
  padding: 0; // overrides adminstrate

  a {
    color: currentColor;
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    padding: 1rem;

    @include for-phone-only {
      display: block;
      padding: 0.5rem;
      text-align: center;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  li {
    // display: block;
    // float: left;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;

    @include for-phone-only {
      flex-basis: 100%;
    }

    &.navigation__last-menu-item {
      background-color: $orange;
      color: $white;

      &:hover {
        background-color: $light-orange;
        color: $white;
      }
      &:hover a {
        color: $white;
      }
    }
  }

  li:hover,
  li:focus-within {
    color: $orange;
    cursor: pointer;
  }

  li:hover a,
  li:focus-within a,
  li:hover ul li:hover a,
  li:focus-within ul li:hover a {
    color: $orange;
  }

  li:focus-within a {
    outline: none;
  }

  ul li ul {
    visibility: hidden;
    background-color: white;
    box-shadow: 0 4px 10px -2px rgba(0,0,0,.1);
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left: 0;
    display: none;
    width: 100%;
    z-index: 1;
  }

  ul li:hover > ul,
  ul li:focus-within > ul,
  ul li ul:hover,
  ul li ul:focus {
    border-top: 2px solid $blue;
    visibility: visible;
    opacity: 1;
    display: block;
  }

  ul li:hover ul a {
    color: $default-text;
  }

  ul li ul li {
    clear: both;
    width: 100%;
  }
}
