<% content_for(:title) { page.page_title } %>

<header class="main-content__header" role="banner">
  <h1 class="main-content__page-title">
    <small><%= t("welcome") %>!</small><br />
    <%= content_for(:title) %>
  </h1>
</header>

<section class="main-content__body">
  <span class="badge"><%= page.resource.locale %></span>
  <span class="badge"><%= page.resource.country %></span>
</section>
