// Cards
// ---------------------------------

.card {
  width: 30vw;
  height: 85vh;
  border-radius: 20px;

  position: absolute;
  top: 7vh;
  left: 5vw;

  background-color: white;

  overflow: scroll;

  > * { padding: 20px; }

  .logo {
    width: 80%;
    margin: auto;
    padding-bottom: 10px;
  }

  .intro {
    padding: 20px 40px;

    background-color: #0f566b;
    color: white;

    h1 {
      margin: 0;
      color: #45cc9c;
    }

    h3 {
      margin: 0;
      text-transform: uppercase;
      letter-spacing: 2pt;
    }
  }

  nav {
    background-color: #1a8b9a;
    color: white;

    ul {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      margin: -20px;
      padding: 0;
      height: 50px;
    }
    li {
      display: inline;
      width: 25%;
      padding: 13px;

      text-align: center;

      &.search {
        background-color: rgb(206,103,32);
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
  }

  .stories {
    ul {
      margin: 0;
      list-style-type: none;
      padding-left: inherit;
    }

    li {
      padding: 10px 0;
      border-bottom: 1px solid grey;

      &:last-child { border-bottom: none; }

      > * {
        display: inline-block;
        vertical-align: top;
      }
    }

    .thumbnail {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      display: inline-block;

      &.placeholder {
        background-color: #a19c9c;
      }
    }

    .container > * {
      display: block;
    }

    .title {
      text-transform: uppercase;
      color: rgb(206,103,32);
    }

    .description {
      color: rgb(15,86,107);
    }
  }
}
