// Mapbox Popup Reskin
// ---------------------------------

.mapboxgl-popup-content {
  padding: 1rem;

  h1 {
    font-size: 1.25rem;
    line-height: 0;
    font-weight: 400;
    margin-bottom: 1rem;
  }
  h2 {
    font-size: 0.935rem;
    line-height: 1;
    font-weight: 400;
    color: #666;
  }
}
.mapboxgl-popup {}