.ts-MainMap {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

@media (max-width: 1200px) {
  .mapboxgl-ctrl-minimap {
    display: none;
  }
}

html {
  padding: 0;
  margin: 0;
}

