img {
  width: 32px;
}

.first-info {
  margin-bottom: 10px;
}

.first-img {
  display: flex;
  float: left;
  height: 60px;
  margin-right: 10px;
  width: 32px;
}

.second-img {
  display: flex;
  float: left;
  height: 36px;
  margin-right: 10px;
  width: 32px;
}