#welcome-page {
  background: image-url('welcome-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  .welcome-card {
    background: rgba(255,255,255,0.5);
    width: 25%;
    padding: 2em;
    border-radius: 5%;
    color: lighten(rgb(9, 38,44), 10%);

    @media screen and (max-width: 600px) {
      width: 80vw;
    }
  }
  
  .logo { 
	width: 25%;
	margin-top: 50px;
	
    @media screen and (max-width: 600px) {
      width: 80vw;
	}
  }
  
  .logo img { width: 100%; }

  h1 {
    border-top: 3px solid #1a8b9a;
    padding-top: 0.5em;
    text-align: center;
    margin-bottom: 0.5em;
  }

  h4 {
    margin-bottom: 0.3em;
    margin-top: 1em;
  }

  button {
    background-color: #1a8b9a;
    text-transform: uppercase;
    letter-spacing: .09rem;
    display: block;
    border-radius: 5%;
    font-weight: bold;
    cursor: pointer;

    a {
      display: inline-block;
      text-decoration: none;
      color: rgb(255,255,255);
      padding: 1em 1em;
      width: 74%;
    }

    &.inverse {
      background-color: rgb(255,255,255);
      a {
        color: #1a8b9a;
      }
    }

    &:focus {
      outline-color: rgb(255,255,255);
    }
  }
}

.l--75 {
  width: 75%;
  margin: auto;
}
