.welcome {
  background: image-url('welcome-bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
  &-card {
    background: rgba(255,255,255,0.70);
    width: 55%;
    padding: 2em;
    border-radius: 5%;
    color: #136A7E;
    max-width: 25rem;
    height: 20rem;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 600px) {
      width: 80vw;
    }

    img {
      margin-bottom: 0.5rem;
      width: 100%;
    }

    &-user {
      color: #5AA68D;
      margin-top: 1rem;
      width: 100%;

      a {
        text-decoration: none;
        color: #5AA68D;
        text-transform: uppercase;
        letter-spacing: .09rem;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 0.85rem;
        margin-right: 1rem;
        margin-left: 1rem;

        &:hover {
          color: #136A7E;
        }
      }
    }

    h1 {
      border-top: 3px solid #D77A34;
      padding-top: 0.5em;
      text-align: center;
      margin: 0;
    }
  
    button {
      background-color: #5AA68D;
      text-transform: uppercase;
      letter-spacing: .09rem;
      display: block;
      border-radius: 5px;
      border-color: transparent;
      font-weight: bold;
      font-size: 0.85rem;
      cursor: pointer;
      margin-top: 1rem;
  
      &:hover {
        background-color: #136A7E;
      }
  
      a {
        display: inline-block;
        text-decoration: none;
        color: rgb(255,255,255);
        padding: 1em 3em;
        width: 100%;
      }
  
      &:focus {
        outline-color: rgb(255,255,255);
      }
    }
  }
}