<div id='map' class="ts-MainMap"></div>
<div class="ts-Overlay">
  <h1>Is this a …map?</h1>
</div>
<script>
var map = new mapboxgl.Map({
    container: 'map', // container id
    style: 'http://localhost:8080/styles/basic/style.json',
    center: [-55.63, 4.78], // starting position [lng, lat]
    zoom: 7.6 // starting zoom
});
</script>
