<div class="field-unit__label">
  <%= f.label field.attribute %>
</div>
<div class="field-unit__field awesomplete">
  <%= f.text_field field.attribute, class: %(awesomplete), "data-list": field.candidates.join(','), "data-minchars": 1 %>
</div>
