<% content_for(:title) do %>
  <%= t("dashboard.actions.new_resource", name: t("place")) %>
<% end %>

<% content_for(:main_heading) do %>
  <h2><%= t("dashboard.actions.new_resource", name: t("place")) %></h2>
<% end %>

<%= render "form" %>