.ts-markerPopup {
  &-content {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    color: $default-text;

    img {
      width: 100px;
      height: 100px;
    }
  }

  .mapboxgl-popup-content {
    h1, h2, h3, h4, h5, p, img {
      padding: 0.5rem;
      margin: 0;
    }
    padding: 0rem;

    h1 {
      text-align: center;
      font-weight: 400;
      font-size: 1.2rem;
      line-height: 1.25;
      background-color: #33aa8b; /* this should inherit the color of the marker associated with the type of place */
      color: white;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      padding: 1rem;
      padding-top: 1.25rem;
    }

    h2 {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 1.55;

    }

    .mapboxgl-popup-close-button {
      color: white;
      font-size: 1rem;
    }
  }
}