// this handler function is implemented here because mapbox-gl-rails uses modern css syntax which sass can't interpet.
// @function rgb($args...) {
//   @return r#{g}#{b}(#{$args})
// }

@import 'core/reset';
@import 'core/colors';
@import 'core/typography';
@import 'core/flexbox';
@import 'core/spin';
@import 'cms/layout';
@import 'cms/tables';
@import 'cms/columns';
@import 'cms/search_filters';
@import 'cms/forms';
@import 'cms/import';
@import 'cms/links';
@import 'cms/badges';
@import 'cms/images';
@import 'cms/cards';
@import 'cms/flex_table';
@import 'cms/avatars';
@import 'cms/icons';
@import 'cms/media';
@import 'cms/errors';
@import 'cms/flash';
@import 'mapbox-gl/dist/mapbox-gl.css';

#themeMap {
  min-height: 400px;
  min-width: 400px;
}

#static-map {
  min-height: 350px;
  min-width: 350px;
}

.metric {
  font-size: 6rem;
}