<% content_for(:title) do %>
  <%= t("dashboard.headings.new_resource", name: t("speaker")) %>
<% end %>

<% content_for(:main_heading) do %>
  <h2><%= t("dashboard.headings.new_resource", name: t("speaker")) %></h2>
<% end %>

<%= render "form" %>