name: push-docker-production

on:
  release:
    types: [created]

jobs:
  build-push-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push latest
        uses: docker/build-push-action@v3
        with:
          context: "{{defaultContext}}:rails"
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: terrastories/terrastories:latest
      - name: Get the Ref
        id: get-ref
        uses: ankitvgupta/ref-to-tag-action@master
        with:
          ref: ${{ github.ref }}
          head_ref: ${{ github.head_ref }}
      - name: Build and push version
        uses: docker/build-push-action@v3
        with:
          context: "{{defaultContext}}:rails"
          push: true
          platforms: linux/amd64,linux/arm64,linux/arm/v7
          tags: "terrastories/terrastories:${{steps.get-ref.outputs.tag}}"
      - name: Docker Hub Description
        uses: peter-evans/dockerhub-description@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          repository: terrastories/terrastories
          short-description: 'Terrastories is a geostorytelling application built to enable local communities to locate and map their own oral storytelling traditions about places of significant meaning or value to them. Check out our Wiki for open source development information.'
