<%#
# Navigation
This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<nav class="navigation" role="navigation">
  <%= link_to(t("administrate.navigation.back_to_app"), home_map_path(locale: params[:locale]), class: "button button--alt") if defined?(root_url) %>
  <% excluded_resources = ['curriculum_stories'] %>
  <% Administrate::Namespace.new(namespace).resources_with_index_route.each do |resource| %>
    <% unless excluded_resources.include?(resource) %>
      <%= link_to(
        t("administrate.#{resource.pluralize}"),
        resource_index_route(resource),
        class: "navigation__link navigation__link--#{nav_link_state(resource)}"
      ) if valid_action?(:index, resource) && show_action?(:index, model_from_resource(resource)) %>
    <% end %>
  <% end %>
  <%= current_user.email %>
  <%= link_to t("logout"), destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</nav>
